<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HostSmtp" value=""/>
    <add key="Port" value=""/>
    <add key="EnableSsl" value=""/>
    <add key="SenderName" value=""/>
    <add key="SenderEmail" value=""/>
    <add key="SenderEmailPassword" value=""/>
    <add key="ReceiverEmail" value=""/>
    <add key="SenderHour" value="8"/>
    <add key="IntervalInMinutes" value="1"/>
    <add key="ToSendReport" value="false"/>
  </appSettings>
</configuration>